body {
  /* background: #e6e6e6; */
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.footer_cards {
  text-align:right;
}

.footer_cards a {
display: inline;
font-size: 25px;
margin-left:15px;
}

.review{
  margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
     overflow: scroll;
     margin-top: 30px;
}

.container {
  background: #f1f5f5;
  grid-row-gap: 0px;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  max-width: 100%;
  /* background-image: url("../images/banner.jpg"); */
  background-size: cover;
}


.header {
  color: black;
  text-align: center;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  display: block;
  background-position: center center;
  text-align: center;
  height: auto;
  color: white;
  padding-left: 50px;
  padding-right: 50px;

}
li .nav-link{
  color:white;
  font-size: 14pt;
  font-weight: 100;
}

html {
  position: relative;
  min-height: 100%
}

.header h1 {
  margin-top: 100px;
  margin-bottom: 100px;
  font-weight: 200;
  font-size: 24pt;
}

.panetta {
  font-family: 'Quando', serif;
  font-size: 24pt;
}

.content_home {
    text-align: center;
  padding-top:80px;
  padding-bottom: 150px;
}

.home_text :nth-child(1){
  font-size: 32pt;
  color: #093a3e;
}

.home_text :nth-child(2){
  font-size: 85pt;
  color: #093a3e;
}

.home_text :nth-child(3){
  color: #093a3e;
  text-align: center;
  font-size: 12.5pt;
}

.nav-item i{
  padding: 0px;
  margin: 0px;
}

.card-title {
  color: #093a3e;
  font-size: 10px;
}

.card-body :nth-child(2) {
  color: #093a3e;
  font-size: 10px;
}

.card-text {
  color: #093a3e;
  font-size: 10px;
}

.read_more{
  text-align: center;
  padding: 8px;
  color: #001011;
}

.lawyers_header h3, .about_header h3{
  text-align: center;
  color: #729190;
  margin-top: 50px;
  font-size: 50px;
}

.lawyers_header p, .about_header p{
  margin-bottom: 50px;
  font-size: 20px;
  text-align: center;
    color: #4b565f;
}

h5 {
  font-size: 13pt;
}


.lowyers{
  margin: 50px;
}
.opacity{
  background-color: #729190;
  opacity: .8;
  margin: 80px;
  padding: 20px;
}
.about_content h2{
  color: #729190;
}
.about_content{
  color: #4b565f;
  margin-left: 50px;
  margin-bottom: 50px;
}
.table{
  margin-top: 100px;
}

responsive img {
  display: block;
  max-width: 100%;
  height: auto;
}

.footer {
  color: white;
  background-color: #010202;
  padding: 30px 50px 50px 80px;
}


.navbar {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.nav-link {
  color: white;
}

.home_text {
  padding-left: 150px;
  padding-right: 150px;
}
.home_text p:nth-child(1){
font-size: 20px;
}
.home_text p:nth-child(2){
font-size: 50px;
}
.home_text p:nth-child(3){
font-size: 15px;
}
.footer_title h5{
  border-bottom: 2px solid;

}

.nav-link{
  padding: 0px;
}

a.nav-link:hover {
  border-top: 1px solid #fff;
}

/* @media (max-width: 580px) {

  .nav_menu li {
    float: left;
  }

  .nav_menu li a {
    padding: 20px 30px;
  }
  .nav_menu .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .nav_menu .menu-icon {
    display: none;
  }
} */

@media (max-width: 768px) {
  .footer_cards {
    text-align:inherit;
    margin-left: -15px;
  }
  .header {
    background: #0b1210;
  }
}
